<div class="app-wrapper">
  <div class="top-bar">
    <img src="./assets/images/logo.svg" alt="logo">
  </div>
  <div class="header-image grid-col-span2">
    <img class="header-mobile-img" src="./assets/images/hero-mobile.jpg" alt="women">
    <img class="header-desktop-img" src="./assets/images/hero-desktop.jpg" alt="women">
  </div>
  <div class="main">
    <h1 class="title">
      <span class="color">
        we're
      </span>
      <br>
      coming
      <br>
      soon
    </h1>
    <span class="text">
      {{mainTxt}}
    </span>
    <form [formGroup]="newsletterForm" (ngSubmit)="submitEmail()">
      <input type="text" placeholder={{inputTxt}} formControlName="email">
      <small class="error-msg" *ngIf="email && email.invalid && email.touched">
        Please provide a valid email
      </small>
      <button [disabled]="newsletterForm.invalid" class="submit" type='submit'>
        Submit
      </button>
    </form>
  </div>
  <footer class="footer">
    <p class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://github.com/szczepanieceryk">Eryk Szczepaniec</a>.
    </p>
  </footer>
</div>
